@tailwind base;
@tailwind components;
@tailwind utilities;


.primaryBannerBg {
    background-image: url("../images/justice.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  
  .secondaryBannerBg {
    background-image: url("../assets/backgrounds/main-banner.svg");
    background-repeat: repeat-x;
    background-size: cover;
  }
  